html {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p {
    font-weight: bold;
    font-size: x-large;
}

.timestamp {
    font-weight: bold;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.vessel {
    font-weight: bold;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.nav_div {
    margin-top: 20px;
}

.zoom {
    table-layout: fixed;
    vertical-align: top;
}

.zoom td:nth-child(4), .zoom td:nth-child(7), .zoom td:nth-child(10) {
    border-left: solid 0.5px gray;
}
.outer {
    display: table;
    border: 1px solid black;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    transform: scale(0.74);
    transform-origin: top left;
    margin-left: 4px;
}

#top-center {
    font-weight: bold;
    font-size: x-large;
    position: relative;
    left: 42%;
}

#date {
    padding-right: 5px;
}

#met {
    position: relative;
    float: left;
    left: 23%;
}

#hydrographic {
    position: relative;
    float: right;
    right: 20%;
}